<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Healthcare Timeline Alpha</title>
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles -->
    <link href="~/Content/styles.css" rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top white-background">
        <div class="container dark-blue-background">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Health A-Z</a>
                    </li>
                    <li>
                        <a href="#">Live Well</a>
                    </li>
                    <li>
                        <a href="#">Care and support</a>
                    </li>
                    <li>
                        <a href="#">Health News</a>
                    </li>
                    <li>
                        <a href="#">Services near you</a>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <div class="fluid-container">
        <div class="container brand-header blue-background">
            <div class="left-logo">
                <img src="~/img/inverted-choices-logo.png" height="35px" alt="NHS Choices">
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    <div class="container">
        <hr class="footer-fixed">
        <div class="footer-links">
            <ul class="list-inline">
                <li>
                    @Html.ActionLink("Contact us", "Contact", "Home")
                </li>
                <li>
                    @Html.ActionLink("About us", "About", "Home")
                </li>
                <li>
                    <a href="http://www.nhs.uk">NHS.UK</a>
                </li>
            </ul>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="~/Content/bootstrap.min.js"></script>
    <script src="~/Content/Chart.bundle.min.js"></script>
    <script src="~/Content/fitnessChart.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
